html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; 
    color: white;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content h2 {
    color: #fac800;
    font-size: 22px;
    margin-bottom: 15px;
}
#titulo{
    font-family: "Anton";
    font-size: 50px;
    -webkit-text-stroke: 0.2px black;
    font-weight: 200;
    margin-top: 10px;
}
.content h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 140px;
}

 .btn {
    background: #fac800;
     width: 10%;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.buttons .btn:hover {
    background: #fac800;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: "Poppins";
}

footer{
    width: 100%;
    height: 170px;
    background-color: black;
    color: white;
    font-family: 'poppins';
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logoFooter{
    border-right: 1px solid white;
    padding-right: 5%;
    width: 20%;
}
#parrafoFooter{
    padding-left: 5%;
    font-family: "Poppins";
}

nav{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoImagen{
    height: 55px;
}
.logoNav{
    margin-left: 25px;
}

.IconoPerfil{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    margin-right: 2%;
    margin-top: 0;
}
.IconoPerfil img {

    width: 40px;
    height: 40px;
}