body{
    margin: 0;
}
.opcionesNav{
    list-style-type : none;
    margin-right: 35px;
}

nav{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoImagen{
    height: 55px;
}
.logoNav{
    margin-left: 25px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'poppins';
    font-size: 15px;
}


main{
    background-color: #163628;
}

.logoBotones{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logoGigante{
    width: 45%;
}

.contenedorBotonesPlay{
    box-sizing: border-box;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8%;
}

.botonPlay{
    box-sizing: border-box;
    height: 50px;
    background-color: #fac800;
    border-radius: 5px;
    font-family: 'poppins';
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.botones-form{
    width: 35%;
    height: 50px;
}
.textoBoton{
    width: 100%;
    font-size: 16px;
    margin:0px;
}

#boton-jugar-crupier{
    width: 100%;
    height:100%;
}


.contenedorSaldoYRecompenzas{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saldoDiponible{
    margin:0;
}

.saldo{
    height: 25%;
    margin-left: 5%;
    font-family: 'poppins', serif;
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 14px ;
    border: 1px solid white;
    border-radius: 7px;
    width: 15%;
    box-sizing: border-box;
    padding: 4px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2));

}
.estrategia-msg {
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(22, 30, 22, 0.9);
    color: #f8f8f8;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    z-index: 100;
    animation: aparecer 0.3s ease-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.estrategia-msg p {
    margin: 0;
    padding: 0;
}

.resultado-msg {
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(22, 30, 22, 0.9);
    color: #f8f8f8;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    z-index: 100;
    animation: aparecer 0.3s ease-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.resultado-msg p {
    margin: 0;
    padding: 0;
}

.BotonCofre {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    margin-right: 5%;
    margin-top: 0;
}

.BotonCofre img {

    width: 40px;
    height: 40px;
}

.IconoPerfil{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    margin-right: 2%;
    margin-top: 0;
}
.IconoPerfil img {

    width: 40px;
    height: 40px;
}

.btn {
    margin-top: 20px;
    background: #ffcc00;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #e6b800;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
}
footer{
    width: 100%;
    height: 170px;
    background-color: black;
    color: white;
    font-family: 'poppins';
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logoFooter{
    border-right: 1px solid white;
    padding-right: 5%;
    width: 20%;
}
#parrafoFooter{
    padding-left: 5%;
}

.menu-icono-perfil{
    width: 22%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 2%;

}

