<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Juego | Black Jack</title>
    <link rel="stylesheet" th:href="@{/css/salaEstilos.css}">
    <link rel="stylesheet" th:href="@{/css/juegoEstilos.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">
        <a th:href="@{/home}">
            <img th:src="@{/resources/core/images/logo.png}" alt="Logo">
        </a>
    </div>

    <div class="menu-icono-perfil">
        <ul class="opcionesNav">
            <li><a href="">Reglas del juego</a></li>
        </ul>
        <a th:href="@{/perfil}">
            <button class="IconoPerfil">
                <img th:src="@{/resources/core/images/icono-perfil.png}" alt="Icono perfil">
            </button>
        </a>
    </div>
</nav>

<main>
    <div class="iconos-section-crupier">
        <div class="saldo">
            <p class="saldoDiponible">SALDO DISPONIBLE</p>
            <p class="saldoDiponible">$00.00</p>
        </div>

        <section class="cartas-score" id="sectionCrupier">
            <div class="cartas">
                <div class="carta"></div>
                <div class="carta"></div>
                <!-- <img
                  src="ImgBlackJack/tarjeta-de-corazon (2) 1.png"
                  alt="dos de corazones"
                />
                <img src="ImgBlackJack/cartaoculta (3).png" alt="carta oculta" /> -->
            </div>

            <div class="score" id="score-crupier">
                <p id="valorScoreCrupier">0</p>
            </div>
        </section>

        <div class="contenedorIconos">
            <button class="iconos-juego">
                <img th:src="@{/resources/core/images/reset.png}" alt="reset" />
            </button>
            <button class="iconos-juego">
                <img th:src="@{/resources/core/images/iconoHome.png}" alt="home" />
            </button>
        </div>
    </div>
    <div class="centro-de-mesa">
        <div class="pozo-de-apuesta">
            <img
                    class="pozo"
                    th:src="@{/resources/core/images/fichaApuesta.png}"
                    alt="ficha de Apuesta"
            />
            <p class="pozo" id="valor-apuesta">0</p>
        </div>
        <div class="contenedor-desiciones">
            <button class="boton-desicion iconos-juego boton-deshabilitado" disabled >
                <img th:src="@{/resources/core/images/boton-estrategia.png}" alt="Estrategia" />
            </button>
            <button class="boton-desicion iconos-juego boton-deshabilitado" disabled>
                <img
                        th:src="@{/resources/core/images/boton-doblar-apuesta.png}"
                        alt="Doblar apuesta"
                />
            </button>
            <button class="boton-desicion iconos-juego boton-deshabilitado" disabled>
                <img th:src="@{/resources/core/images/boton-pedir-carta.png}" alt="Pedir carta" />
            </button>
            <button class="boton-desicion iconos-juego boton-deshabilitado" disabled>
                <img th:src="@{/resources/core/images/boton-pararse.png}" alt="Pararse" />
            </button>
            <button class="boton-desicion iconos-juego boton-deshabilitado" disabled>
                <img th:src="@{/resources/core/images/boton-dividir.png}" alt="Dividir partida" />
            </button>
            <button class="boton-desicion iconos-juego boton-deshabilitado" disabled>
                <img th:src="@{/resources/core/images/boton-rendirse.png}" alt="Rendirse" />
            </button>
        </div>
    </div>

    <div class="todo-sola-hago">
        <div class="contenedor-mazo-fichas">
            <img
                    th:src="@{/resources/core/images/mazo final 1.png}"
                    id="mazo"
                    alt="mazo de cartas">


            <div class="contenedor-ficha-apuesta">
                <button class="boton-ficha-apuesta iconos-juego" data-ficha="5">
                    <img th:src="@{/resources/core/images/ficha 5.png}" alt="Valor 5"  />
                </button>
                <button class="boton-ficha-apuesta iconos-juego" data-ficha="10">
                    <img th:src="@{/resources/core/images/ficha10.png}"  alt="Valor 10" />
                </button>
                <button class="boton-ficha-apuesta iconos-juego" data-ficha="25">
                    <img th:src="@{/resources/core/images/ficha25.png}"  alt="Valor 25" />
                </button>
                <button class="boton-ficha-apuesta iconos-juego" data-ficha="50">
                    <img th:src="@{/resources/core/images/ficha50.png}" alt="Valor 50" />
                </button>
                <button class="boton-ficha-apuesta iconos-juego" data-ficha="100">
                    <img th:src="@{/resources/core/images/ficha100.png}" alt="Valor 100" />
                </button>
            </div>
        </div>


        <section class="cartas-score" id="sectionJuegador">
            <div class="cartas">
                <div class="carta"></div>
                <div class="carta"></div>
                <!-- <img
                  src="ImgBlackJack/tarjeta-de-corazon (2) 1.png"
                  alt="dos de corazones"
                />
                <img src="ImgBlackJack/cartaoculta (3).png" alt="carta oculta" /> -->
            </div>

            <div class="score" id="score-jugador">
                <p id="valorScorejugador">0</p>
            </div>
        </section>
    </div>
    </div>
</main>

<footer>
    <img id="logoFooter" th:src="@{/resources/core/images/logo.png}" alt="logoFooter">

    <p id="parrafoFooter">© Todos los derechos reservados</p>
</footer>
<script src="resources/core/js/botonesJuego.js"></script>
</body>
</html>