<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" th:href="@{/css/juegoOnlineEstilos.css}">

</head>
<body>
<nav>
    <div class="logo">
        <img th:src="@{/resources/core/images/logo.png}" alt="Logo" />
    </div>

    <div class="menu-icono-perfil">
        <ul class="opcionesNav">
            <li>Reglas del juego</li>
        </ul>
        <button class="IconoPerfil">
            <img th:src="@{/resources/core/images/icono-perfil.png}" alt="Perfil" />
        </button>
    </div>
</nav>

<main>
    <div class="saldo">
        <p class="saldoDiponible">SALDO DISPONIBLE</p>
        <p id="saldoDisponible">$1000.0</p>
    </div>

    <div class="contenedorIconos">
        <button class="iconos-juego">
            <img th:src="@{/resources/core/images/reset.png}" alt="reset" />
        </button>
        <button class="iconos-juego">
            <img th:src="@{/resources/core/images/iconoHome.png}" alt="home" />
        </button>
    </div>
<div class="juegoG">
    <section class="section-crupier">
        <div class="cartas">
            <div class="carta"><img th:src="@{/resources/core/images/2-corazon.png}" alt="Ficha"/></div>
            <div class="carta"><img th:src="@{/resources/core/images/cartaoculta (3).png}" alt="Ficha"/></div>
        </div>
        <div class="score">2</div>
    </section>

    <div class="pozo-de-apuesta">
        <img th:src="@{/resources/core/images/fichaApuesta.png}" alt="Ficha" />
        <p id="valor-apuesta">0</p>
    </div>

    <div class="contenedor-decisiones">
        <button class="boton-desicion">
            <img th:src="@{/resources/core/images/boton-estrategia.png}" alt="Estrategia" />
            <p class="texto-descripcion">Estrategia</p>
        </button>
        <button class="boton-desicion">
            <img th:src="@{/resources/core/images/boton-doblar-apuesta.png}" alt="Doblar" />
            <p class="texto-descripcion">Doblar apuesta</p>
        </button>
        <button class="boton-desicion">
            <img th:src="@{/resources/core/images/boton-pedir-carta.png}" alt="Pedir" />
            <p class="texto-descripcion">Pedir carta</p>
        </button>
        <button class="boton-desicion">
            <img th:src="@{/resources/core/images/boton-pararse.png}" alt="Pararse" />
            <p class="texto-descripcion">Pararse</p>
        </button>
        <button class="boton-desicion">
            <img th:src="@{/resources/core/images/boton-dividir.png}" alt="Dividir" />
            <p class="texto-descripcion">Dividir partida</p>
        </button>
        <button class="boton-desicion">
            <img th:src="@{/resources/core/images/boton-rendirse.png}" alt="Rendirse" />
            <p class="texto-descripcion">Rendirse</p>
        </button>
    </div>

    <section class="section-jugador">
        <div class="cartas">
            <div class="carta"><img th:src="@{/resources/core/images/k-diamantes.png}" alt="Ficha"/></div>
            <div class="carta"><img th:src="@{/resources/core/images/a-corazon.png}" alt="Ficha"/></div>
        </div>
        <div class="score">21</div>
    </section>
</div>
    <div class="fichas">
        <img class="boton-ficha-apuesta" data-ficha="5" th:src="@{/resources/core/images/ficha 5.png}" alt="5" />
        <img class="boton-ficha-apuesta" data-ficha="10" th:src="@{/resources/core/images/ficha10.png}" alt="10" />
        <img class="boton-ficha-apuesta" data-ficha="25" th:src="@{/resources/core/images/ficha25.png}" alt="25" />
        <img class="boton-ficha-apuesta" data-ficha="50" th:src="@{/resources/core/images/ficha50.png}" alt="50" />
        <img class="boton-ficha-apuesta" data-ficha="100" th:src="@{/resources/core/images/ficha100.png}" alt="100" />
    </div>

    <div class="botones">
        <form action="/juego/iniciar" method="post" id="form-apuesta">
            <input type="hidden" name="monto" id="inputMonto">
            <button class="btn" id="boton" type="submit">Empezar partida</button>
        </form>
    </div>
</main>
<footer>
    <img th:src="@{/resources/core/images/logo.png}" alt="Logo" />
    <p>© Todos los derechos reservados</p>
</footer>
<script src="resources/core/js/botonesJuego.js"></script>
</body>
</html>
