<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Jack</title>
    <link rel="stylesheet" th:href="@{/css/loginEstilos.css}">
</head>
<body>

<div id="LoginPrincipal">

    <div id="img">
        <img th:src="@{/resources/core/images/background.png}"  alt="" id="imagenFondo">
        <div id="ingresoDatos">

            <div id="datos">
                <div id="logo">
                    <img th:src="@{/resources/core/images/logo.png}" alt="" id="logopng" style="margin-top: 20px">
                </div>

                <h3 style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 24px;">Ingresa a tu cuenta de Black Jack</h3>


                <form th:action="@{/validar-login}" th:object="${datosLogin}" method="post">
                    <p style="color: white;" id="nombre-usuario">Email:</p>
                    <input type="text" th:field="*{email}" id="rectangulo-nombre-usuario" placeholder="Ingrese su email...">
                    <br>
                    <p style="color: white;" id="contraseña">Contraseña:</p>
                    <input type="password" th:field="*{password}" id="rectangulo-contraseña" placeholder="Ingrese su contraseña...">
                    <input type="submit" id="boton-ingresar" value="Ingresar">
                </form>


                <p style="color: white;">_</p>

                <h4 style="color: white; margin-top: 5px; font-size: 20px;">¿Nuevo en Black Jack?</h4>

                <form class="botones" th:action="@{/registro}"  method="get">
                  <button id="Abrir-cuenta" type="submit" style=" background: #FAC800; padding: 8px; border-radius: 5px; cursor: pointer;">Abrir cuenta</button>
                </form>

            </div>


        </div>

        </div>
    </div>



    <div id="pie-pagina">

        <div id="elementos-pie">

            <img th:src="@{/resources/core/images/logo.png}" alt="" id="logo-imagen-pie">

            <h4 id="texto-pie">@ Todos los derechos reservados</h4>

        </div>


    </div>

</div>

</body>
</html>