<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Jack</title>
    <link rel="stylesheet" th:href="@{/css/loginEstilos.css}">
</head>
<body>

<div id="LoginPrincipal">

    <div id="img">
        <img th:src="@{/resources/core/images/background.png}"  alt="" id="imagenFondo">
        <div id="ingresoDatos">

            <div id="datos">
                <div id="logo">
                    <img th:src="@{/resources/core/images/logo.png}" alt="" id="logopng" style="margin-top: 20px">
                </div>

                <h3 style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 24px;">Ingresa a tu cuenta de Black Jack</h3>




                <p style="color: white; " id="nombre-usuario">Nombre de usuario:</p>
                <input type="text" placeholder="Ingrese nombre de usuario..." id="rectangulo-nombre-usaurio">


                <br>

                <p style="color: white;" id="contraseña">Contraseña:</p>
                <input type="password" placeholder="Ingrese su contraseña..." id="rectangulo-contraseña">

                <br>

                <input type="button" name="" id="boton-ingresar" value="Ingresar">



                <p style="color: white;">_</p>

                <h4 style="color: white; margin-top: 5px; font-size: 20px;">¿Nuevo en Black Jack?</h4>

                <a style="color: #FAC800; text-decoration: none;  font-size: 20px; margin-bottom: 40px;" href="abrir-cuenta"> Abrir cuenta</a>





            </div>



        </div>
    </div>



    <div id="pie-pagina">

        <div id="elementos-pie">

            <img th:src="@{/resources/core/images/logo.png}" alt="" id="logo-imagen-pie">

            <h4 id="texto-pie">@ Todos los derechos reservados</h4>

        </div>


    </div>

</div>

</body>
</html>