<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/sala}">
            <img th:src="@{/resources/core/images/logo.png}" alt="Logo">
        </a>
    </div>
    <div class="perfil"><p>Mi perfil</p> </div>
    <img th:src="@{/resources/core/images/usuario.png}" id="logoImagen"  alt="logo">
</header>

<main>
    <div class="contenedor">

        <div class="contenedor10">
            <input type="file" id="file" accept="image/*">
            <label for="file" class="imgUsuario">
                <img id="idUs" th:src="@{/resources/core/images/usuario.png}" alt="">
                <span class="plus">+</span>
            </label>
        </div>

        <div class="perfil">

            <form method="post" th:action="@{/editar-Atributos}" accept-charset="UTF-8">
                <p>Usuario: <span id="username" contenteditable="true" th:text="${usuario.username}"></span></p>
                <input type="hidden" name="username" id="usernameInput" />

                <p>Nombre: <span id="nombre" contenteditable="true" th:text="${usuario.nombre}">Nombre</span></p>
                <input type="hidden" name="nombre" id="nombreInput" />

                <p>Apellido: <span id="apellido" contenteditable="true" th:text="${usuario.apellido}">Apellido</span></p>
                <input type="hidden" name="apellido" id="apellidoInput" />

                <p id="email">Email: <span th:text="${usuario.email}">email@example.com</span> </p>

                <p id="fecha">
                    Fecha de nacimiento: <span th:text="${usuario.fechaNacimiento}"></span>
                </p>

                <button type="submit">Guardar</button>
            </form>

            <div class="estadisticas1">
                <div class="estadisticas1">
                    <div class="nivel">
                        <p id="saldoDisponible" th:text="'$' + ${usuario != null ? usuario.saldo : 0}">00.00</p>
                        Saldo actual
                    </div>
                </div>
            </div>


        </div>

        <div class="estadisticas">
            <div class="estadisticas">
                <div class="est">
                    <h3>ESTADÍSTICAS</h3>
                    <p>Partidas totales: <span th:text="${usuario.partidasTotales}"></span></p>
                    <p>Partidas ganadas: <span th:text="${usuario.partidasGanadas}"></span></p>
                    <p>Partidas perdidas: <span th:text="${usuario.partidasPerdidas}"></span></p>
                </div>
            </div>

            <div class="estadisticas">
                <ul class="logros">
                    <h3>LOGROS</h3>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Ganar 1 mano con black jack</li>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Apostar la cantidad máxima permitida y ganar</li>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Ganar 10 manos consecutivas</li>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Completar 100 partidas</li>
                </ul>
            </div>

            <div class="botones">
                <form th:action="@{/cerrar-sesion}" method="post">
                    <button class="btn" id="boton" type="submit">CERRAR SESIÓN</button>
                </form>
                <form th:action="@{/sala}" method="post">
                    <button class="btn" id="boton1" type="submit">IR A SALA</button>
                </form>
            </div>

        </div>
    </div>
</main>
<footer>
    <img th:src="@{/resources/core/images/logo.png}" alt="logo">
    <p>© TODOS LOS DERECHOS RESERVADOS</p>
</footer>
<script th:src="@{/resources/core/js/perfil.js}"></script>
<script th:src="@{/js/popupCofre.js}"></script>
</body>
</html>