<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/sala}">
            <img th:src="@{/resources/core/images/logo.png}" alt="Logo">
        </a>
    </div>
    <div class="perfil"><p>Mi perfil</p> </div>
    <img th:src="@{/resources/core/images/usuario.png}" id="logoImagen"  alt="logo">
</header>

<main>
    <div class="contenedor">

        <div class="perfil">

            <form method="post" th:action="@{/editar-Atributos}" accept-charset="UTF-8">
                <p>Usuario: <span id="username" contenteditable="true" th:text="${usuario.username}"></span></p>
                <input type="hidden" name="username" id="usernameInput" />

                <p>Nombre: <span id="nombre" contenteditable="true" th:text="${usuario.nombre}">Nombre</span></p>
                <input type="hidden" name="nombre" id="nombreInput" />

                <p>Apellido: <span id="apellido" contenteditable="true" th:text="${usuario.apellido}">Apellido</span></p>
                <input type="hidden" name="apellido" id="apellidoInput" />

                <p id="email">Email: <span th:text="${usuario.email}">email@example.com</span> </p>

                <p id="fecha">
                    Fecha de nacimiento: <span th:text="${usuario.fechaNacimiento}"></span>
                </p>

                <button type="submit">Guardar</button>
            </form>

            <div class="estadisticas1">
                <div class="estadisticas1">
                    <div class="nivel">
                        <p id="saldoDisponible" th:text="'$' + ${usuario != null ? usuario.saldo : 0}">00.00</p>
                        Saldo actual
                    </div>
                </div>
            </div>


        </div>

        <div id="overlay" class="overlay">
            <div class="popup-recompensa">
                <h2 class="titulo">
                    <span class="icono"><img th:src="@{/resources/core/images/cofre-del-tesoro 1.png}" alt=""></span>
                    RECOMPENSA DIARIA
                </h2>
                <div class="dias">
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 1</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 2</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 3</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 4</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 5</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 6</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 7</p><span>$500</span></div>
                </div>
                <button id="btnCerrar" class="btn-cerrar">CERRAR</button>
            </div>
        </div>
        <div class="estadisticas">
            <div class="estadisticas">
                <div class="est">
                    <h3>ESTADÍSTICAS</h3>
                    <p>Partidas totales: <span th:text="${usuario.partidasTotales}"></span></p>
                    <p>Partidas ganadas: <span th:text="${usuario.partidasGanadas}"></span></p>
                    <p>Partidas perdidas: <span th:text="${usuario.partidasPerdidas}"></span></p>
                </div>
            </div>

            <div class="estadisticas">
                <ul class="logros">
                    <h3>LOGROS</h3>
                    <li>
                        <img class="logro5partidas" th:if="${usuario.logro5partidas ?: false}"
                             th:src="@{/resources/core/images/ic--twotone-check.png}" width="20" height="20" alt="check">

                        <img class="logro5partidas" th:if="${!(usuario.logro5partidas ?: false)}"
                             th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="no check">


                        <span>Jugar <span th:text="${usuario.partidasMeta}">5</span> partidas</span>
                    </li>

                    <li>
                        <img class="logroManosGanadas"
                             th:if="${usuario.logroGanar2Manos ?: false}"
                             th:src="@{/resources/core/images/ic--twotone-check.png}"
                             width="20" height="20" alt="check">

                        <img class="logroManosGanadas"
                             th:if="${!(usuario.logroGanar2Manos ?: false)}"
                             th:src="@{/resources/core/images/cuadrado.png}"
                             width="20" height="20" alt="no check">

                        <span>Ganar <span th:text="${usuario.manosMeta}">2</span> manos</span>

                    </li>

                    <form th:action="@{/reclamar-recompensa}" method="post" id="formRecompensa">
                        <button type="submit" id="btnRecompensa"
                                class="btn-recompensa"
                                th:attr="data-logro5partidas=${usuario.logro5partidas},
                     data-logro2manos=${usuario.logroGanar2Manos},
                     data-recompensa-reclamada=${usuario.recompensaReclamada}">
                            Reclamar recompensa $1000
                        </button>
                    </form>
                </ul>
            </div>

            <div class="botones">
                <form th:action="@{/cerrar-sesion}" method="post">
                    <button class="btn" id="boton" type="submit">CERRAR SESIÓN</button>
                </form>
                <form th:action="@{/sala}" method="post">
                    <button class="btn" id="boton1" type="submit">IR A SALA</button>
                </form>
            </div>

        </div>
    </div>
</main>
<footer>
    <img th:src="@{/resources/core/images/logo.png}" alt="logo">
    <p>© TODOS LOS DERECHOS RESERVADOS</p>
</footer>

<script th:inline="javascript">
    const imgCuadrado = /*[[@{/resources/core/images/cuadrado.png}]]*/ "";
    const imgCheck = /*[[@{/resources/core/images/ic--twotone-check.png}]]*/ "";
</script>

<script th:src="@{/resources/core/js/perfil.js}"></script>
<script th:src="@{/js/popupCofre.js}"></script>
</body>
</html>