<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/home}">
            <img th:src="@{/resources/core/images/logo.png}" alt="Logo">
        </a>
    </div>
    <div class="perfil"><p>Mi perfil</p> </div>
    <img th:src="@{/resources/core/images/usuario.png}" id="logoImagen"  alt="logo">
</header>

<main>
    <div class="contenedor">

        <div class="contenedor10">
            <input type="file" id="file" accept="image/*">
            <label for="file" class="imgUsuario">
                <img id="idUs" th:src="@{/resources/core/images/usuario.png}" alt="">
                <span class="plus">+</span>
            </label>
        </div>

        <div class="perfil">
            <h2 id="nombreDeUsuario" contenteditable="true">NOMBRE DE USUARIO</h2>
            <p id="nombreYApellido" contenteditable="true">Nombre y apellido: </p>
            <p id="email" contenteditable="true">Email: </p>
            <p id="fecha" >Se unió en</p>

            <div class="estadisticas1">
                <div class="nivel">0<br>Saldo actual</div>
                <div class="nivel">0<br>Nivel</div>
                <div class="partidasG">0<br>Partidas ganadas</div>
            </div>

            <div class="progreso">
                <div class="porcentaje">50%</div>
            </div>

            <p>¡Faltan 5 partidas ganadas para subir de nivel!</p>
            <p>Leer <a th:href="@{/terminosYCondiciones}">Términos y condiciones</a></p>
        </div>

        <div class="estadisticas">
            <div class="est">
                <img class="cofre" th:src="@{/resources/core/images/cofre-del-tesoro 1.png}" alt="logo">
                <h3>ESTADÍSTICAS</h3>
                <p>Partidas totales: </p>
                <p>Partidas ganadas: </p>
                <p>Partidas perdidas: </p>
                <p>Recompensas obtenidas: </p>
            </div>

            <div class="estadisticas">
                <ul class="logros">
                    <h3>LOGROS</h3>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Ganar 1 mano con black jack</li>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Apostar la cantidad máxima permitida y ganar</li>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Ganar 10 manos consecutivas</li>
                    <li class="log"> <img th:src="@{/resources/core/images/cuadrado.png}" width="20" height="20" alt="check"> Completar 100 partidas</li>
                </ul>
            </div>

            <div class="botones">
                <form th:action="@{/sala}" method="post">
                    <button class="btn" id="boton" type="submit">VOLVER</button>
                </form>
            </div>

        </div>
    </div>
</main>
<footer>
    <img th:src="@{/resources/core/images/logo.png}" alt="logo">
    <p>© TODOS LOS DERECHOS RESERVADOS</p>
</footer>
<script th:src="@{/resources/core/js/perfil.js}"></script>
</body>
</html>