<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/salaEstilos.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Sala - BlackJack</title>
</head>
<body>

<nav>
    <div class="logoNav">
        <a th:href="@{/home}">
            <img th:src="@{/resources/core/images/logo.png}" alt="Logo">
        </a>
    </div>

    <div class="menu-icono-perfil">
        <ul class="opcionesNav">
            <li><a href="reglas.html" target="_blank">Reglas del juego</a></li>
        </ul>
        <a th:href="@{/perfil}">
        <button class="IconoPerfil">
            <img th:src="@{/resources/core/images/icono-perfil.png}" alt="Icono perfil">
        </button>
        </a>
    </div>

</nav>


<main >
    <div class="contenedorSaldoYRecompenzas">
        <div class="saldo">
            <p class="saldoDiponible">SALDO DISPONIBLE</p>
            <p class="saldoDiponible"  th:text="'$' + ${usuario.saldo}">$00.00</p>
        </div>

        <button id="btnCofre" class="btn-cofre">
            <img th:src="@{/resources/core/images/cofre-del-tesoro 1.png}" alt="Recompensas diarias - Cofre">
        </button>

        <div id="overlay" class="overlay">
            <div class="popup-recompensa">
                <h2 class="titulo">
                    <span class="icono"><img th:src="@{/resources/core/images/cofre-del-tesoro 1.png}" alt=""></span>
                    RECOMPENSA DIARIA
                </h2>
                <div class="dias">
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 1</p><span>$300</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 2</p><span>$500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 3</p><span>$750</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 4</p><span>$1000</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 5</p><span>$1250</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 6</p><span>$1500</span></div>
                    <div class="dia"><img th:src="@{/resources/core/images/dolar 25.png}" alt=""><p>DÍA 7</p><span>$2000</span></div>
                </div>
                <button id="btnCerrar" class="btn-cerrar">CERRAR</button>
            </div>
        </div>


    </div>

    <div class="logoBotones">
        <img th:src="@{/resources/core/images/logo gigante.png}" alt="logo gigante" id="logoGigante">

        <div class="contenedorBotonesPlay">
            <form class="botones-form" th:action="@{/juegoConCrupier}" method="post">
            <button class="botonPlay" id="boton-jugar-crupier" type="submit"><p class="textoBoton">JUGAR CONTRA <br>CRUPIER</br></p></button>
            </form>
            <form class="botones-form" th:action="@{/juegoOnline}" method="post">
                <button class="botonPlay" id="botonJugarOnline" type="submit"><p class="textoBoton">JUGAR ONLINE</p></button>
            </form>
        </div>
    </div>

</main>
<footer>

    <img id="logoFooter" th:src="@{/resources/core/images/logo.png}" alt="logoFooter">

    <p id="parrafoFooter">© Todos los derechos reservados</p>
</footer>
<script th:src="@{/js/popupCofre.js}"></script>

<script th:if="${error}" th:inline="javascript">
    alert('[[${error}]]');
</script>





</body>
</html>